* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 100%;
}

.contenedor {
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
  border-radius: 10px;
}
.contenedor .formulario {
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px 5px #ccc;
}
.contenedor .formulario .input-group {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}
.contenedor .formulario .input-group input {
  width: 100%;
  outline: none;
  border: 2px solid #ced7ff;
  padding: 10px 15px 10px 30px;
  border-radius: 5px;
  font-size: 1.13rem;
  line-height: 1.13rem;
  font-weight: 500;
  transition: all ease 0.5s;
}
.contenedor .formulario .input-group input:hover {
  border-color: #3159fa;
}
.contenedor .formulario .input-group input:focus {
  border-color: #3159fa;
}
.contenedor .formulario .input-group span {
  position: absolute;
  top: 15px;
  left: 10px;
  color: #3159fa;
}
.contenedor .formulario .input-group .message1 {
  position: absolute;
  left: 30px;
  top: 12px;
  font-size: 1.13rem;
  color: #3159fa;
  cursor: text;
  transition: all ease 0.5s;
}
.contenedor .formulario .input-group.active .message1 {
  font-size: 12px;
  top: -5px;
  left: 10px;
  background: #fff;
  padding: 0 1px;
}
.contenedor .formulario .input-group .message2 {
  color: #fa3939;
  position: absolute;
  top: 50px;
  left: 20px;
  opacity: 0;
  pointer-events: none;
  transition: all ease 0.15s;
}
.contenedor .formulario .input-group.error .message2 {
  opacity: 1;
  pointer-events: all;
}
.contenedor .formulario .input-group.radios input, .contenedor .formulario .input-group.checkboxs input {
  display: none;
}
.contenedor .formulario .input-group.radios input:checked + label::before, .contenedor .formulario .input-group.checkboxs input:checked + label::before {
  border-color: #3159fa;
  background: #3159fa;
  -webkit-animation: ease push-button 0.4s;
          animation: ease push-button 0.4s;
}
.contenedor .formulario .input-group.radios .radio,
.contenedor .formulario .input-group.radios .checkbox, .contenedor .formulario .input-group.checkboxs .radio,
.contenedor .formulario .input-group.checkboxs .checkbox {
  padding: 10px 10px 10px 42px;
  position: relative;
  display: flex;
  width: 30%;
  align-items: center;
  cursor: pointer;
  color: #3159fa;
}
.contenedor .formulario .input-group.radios .radio:hover::before,
.contenedor .formulario .input-group.radios .checkbox:hover::before, .contenedor .formulario .input-group.checkboxs .radio:hover::before,
.contenedor .formulario .input-group.checkboxs .checkbox:hover::before {
  border-color: #3159fa;
}
.contenedor .formulario .input-group.radios .radio::before,
.contenedor .formulario .input-group.radios .checkbox::before, .contenedor .formulario .input-group.checkboxs .radio::before,
.contenedor .formulario .input-group.checkboxs .checkbox::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 5px;
  border-radius: 50%;
  border: 2px solid #ced7ff;
  transition: all ease 0.4s;
}
.contenedor .formulario .input-group.radios .radio::after,
.contenedor .formulario .input-group.radios .checkbox::after, .contenedor .formulario .input-group.checkboxs .radio::after,
.contenedor .formulario .input-group.checkboxs .checkbox::after {
  content: "";
  width: 7px;
  height: 14px;
  position: absolute;
  top: 9px;
  left: 14px;
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.contenedor .formulario .input-group.radios .message2, .contenedor .formulario .input-group.checkboxs .message2 {
  top: 80px;
}
.contenedor .formulario .input-group.radios .checkbox, .contenedor .formulario .input-group.checkboxs .checkbox {
  width: 100%;
}
.contenedor .formulario .input-group.radios .checkbox::before, .contenedor .formulario .input-group.checkboxs .checkbox::before {
  border-radius: 5px;
}
.contenedor .formulario .input-group.radios .checkbox + .message2, .contenedor .formulario .input-group.checkboxs .checkbox + .message2 {
  top: 40px;
}
.contenedor button[type=submit] {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  background: #3159fa;
  color: #fff;
  cursor: pointer;
}
.contenedor button[type=submit]:hover {
  background: #5e7eff;
}
.contenedor button[type=submit]:focus {
  background: #3159fa;
  -webkit-animation: push-button 0.4s ease;
          animation: push-button 0.4s ease;
}

@-webkit-keyframes push-button {
  from {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.07, 0.95);
  }
  50% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(0.95, 1.07);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes push-button {
  from {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.07, 0.95);
  }
  50% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(0.95, 1.07);
  }
  to {
    transform: scale(1, 1);
  }
}/*# sourceMappingURL=estilos.css.map */